<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
      <header>
      <div class="container">
        <ul class="nav">
          <li>
            <a href="/"><strong>Bullnose</strong></a>
          </li>
          <li>
            <a href="/about">about</a>
          </li>
        </ul>
      </div>
      </header>
      <section>
      	<div class="container">
      		{{ content | safe }}
      		{% include "footer.njk" %}
    		</div>
    </section>
  </body>
</html>
